body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.dist-marker {
	font-size: 12px;
  font-weight: bold;
  line-height: 12px;
	border-radius: 10px;
	text-align: center;
	color: white;
	padding: 2px 2px 2px 2px;
}

.bg-blue { background: blue; }
.bg-green { background: green; }
.bg-magenta { background: magenta; }
